* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    min-height: 100vh;

    background:
        radial-gradient(
            circle at top,
            #202840,
            #080b12 60%
        );

    color: white;

    display: flex;
    justify-content: center;
}


.container {
    width: 100%;
    max-width: 900px;
    padding: 50px 20px;
}


header {
    text-align: center;
    margin-bottom: 40px;
}


.badge {
    display: inline-block;

    padding: 8px 14px;

    border: 1px solid #56617a;
    border-radius: 20px;

    font-size: 12px;
    letter-spacing: 2px;

    margin-bottom: 20px;
}


h1 {
    font-size: 42px;
    margin-bottom: 12px;
}


header p {
    color: #aab2c5;
}


.card {
    background: rgba(20, 25, 38, 0.9);

    border: 1px solid #30394f;

    border-radius: 20px;

    padding: 30px;

    margin-bottom: 25px;

    box-shadow:
        0 20px 50px rgba(0, 0, 0, 0.3);
}


.card h2 {
    margin-bottom: 25px;
}


.form-grid {
    display: grid;

    grid-template-columns:
        repeat(2, 1fr);

    gap: 20px;
}


.input-group {
    display: flex;
    flex-direction: column;

    gap: 8px;
}


label {
    color: #aab2c5;
    font-size: 14px;
}


input,
select {
    width: 100%;

    padding: 14px;

    border-radius: 10px;

    border: 1px solid #3b455d;

    background: #101521;

    color: white;

    font-size: 15px;

    outline: none;
}


button {
    border: none;

    border-radius: 10px;

    padding: 15px 25px;

    font-weight: bold;

    cursor: pointer;

    margin-top: 25px;

    width: 100%;

    background: white;
    color: #080b12;

    transition: 0.2s;
}


button:hover {
    transform: translateY(-2px);

    opacity: 0.9;
}


.result-card {
    text-align: center;
}


.hidden {
    display: none;
}


.coin {
    font-size: 90px;

    margin: 10px 0 20px;
}


.small-title {
    color: #8e9ab2;

    letter-spacing: 3px;

    font-size: 12px;
}


#prediction {
    font-size: 50px;

    margin: 15px 0;
}


.probabilities {
    display: flex;

    justify-content: center;

    gap: 80px;

    margin: 30px 0;
}


.probabilities div {
    display: flex;

    flex-direction: column;

    gap: 8px;
}


.probabilities span {
    color: #8e9ab2;

    font-size: 12px;

    letter-spacing: 2px;
}


.probabilities strong {
    font-size: 28px;
}


.divider {
    height: 1px;

    background: #30394f;

    margin: 25px 0;
}


.actual-buttons {
    display: flex;

    gap: 15px;
}


.actual-buttons button {
    margin-top: 10px;
}


#accuracyMessage {
    margin-top: 20px;

    font-weight: bold;
}


footer {
    text-align: center;

    color: #68738a;

    font-size: 12px;
}


@media (max-width: 600px) {

    h1 {
        font-size: 30px;
    }

    .form-grid {
        grid-template-columns: 1fr;
    }

    .probabilities {
        gap: 40px;
    }

}